<html>
<head>
   <title>{{title}}</title>
   <meta charset="utf8">
   <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />

   <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
   <div class="container">
      {{{content}}}
   </div>
   <footer>
      &copy; DecimatioNation 2015 - All rights reserved
   </footer>
   <script src="//localhost:35729/livereload.js"></script>
   <script src=""></script>
   <script src="assets/js/scripts.js"></script>
</body>
</html>
