<html>
<head>
   <title>{{title}}</title>
   <meta charset="utf8">
   <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0" />

   <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
   <header>
   <div class="content">
      <div class="logo"></div>
      <h1>DecimatioNation</h1>
      <nav>
         <ul>
            <li>World of Warcraft
            <li>Ingress
            <li>Pokemon GO
            <li>Other Games
            <li>Social Media
         </ul>
      </nav>
   </div>
   </header>
   <div class="content">
      {{{content}}}
   </div>
   <footer>
   <div class="content">
      &copy; DecimatioNation 2015 - All rights reserved
   </div>
   </footer>
   <script src="//localhost:35729/livereload.js"></script>
   <script src="scripts.js"></script>
</body>
</html>
