<h1>Badge Breakdown</h1>
<p>Here are all of the tiered badges in Ingress as of now. These have the most up to date styles as well including the new revamp on the Platinum and Onyx tiers. Some of these are here for completion sake and not actually available (Locked Seer, Locked Innovator)</p>

<div class="badge-row">
   <h2 class="badge-title">Builder</h2>
<div class="left badge builder locked"></div>
<div class="left badge builder bronze"></div>
<div class="left badge builder silver"></div>
<div class="left badge builder gold"></div>
<div class="left badge builder platinum"></div>
<div class="left badge builder onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Connector</h2>
<div class="left badge connector locked"></div>
<div class="left badge connector bronze"></div>
<div class="left badge connector silver"></div>
<div class="left badge connector gold"></div>
<div class="left badge connector platinum"></div>
<div class="left badge connector onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Engineer</h2>
<div class="left badge engineer locked"></div>
<div class="left badge engineer bronze"></div>
<div class="left badge engineer silver"></div>
<div class="left badge engineer gold"></div>
<div class="left badge engineer platinum"></div>
<div class="left badge engineer onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Explorer</h2>
<div class="left badge explorer locked"></div>
<div class="left badge explorer bronze"></div>
<div class="left badge explorer silver"></div>
<div class="left badge explorer gold"></div>
<div class="left badge explorer platinum"></div>
<div class="left badge explorer onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Guardian</h2>
<div class="left badge guardian locked"></div>
<div class="left badge guardian bronze"></div>
<div class="left badge guardian silver"></div>
<div class="left badge guardian gold"></div>
<div class="left badge guardian platinum"></div>
<div class="left badge guardian onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Hacker</h2>
<div class="left badge hacker locked"></div>
<div class="left badge hacker bronze"></div>
<div class="left badge hacker silver"></div>
<div class="left badge hacker gold"></div>
<div class="left badge hacker platinum"></div>
<div class="left badge hacker onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Illuminator</h2>
<div class="left badge illuminator locked"></div>
<div class="left badge illuminator bronze"></div>
<div class="left badge illuminator silver"></div>
<div class="left badge illuminator gold"></div>
<div class="left badge illuminator platinum"></div>
<div class="left badge illuminator onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Innovator</h2>
<div class="left badge innovator locked"></div>
<div class="left badge innovator bronze"></div>
<div class="left badge innovator silver"></div>
<div class="left badge innovator gold"></div>
<div class="left badge innovator platinum"></div>
<div class="left badge innovator onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Liberator</h2>
<div class="left badge liberator locked"></div>
<div class="left badge liberator bronze"></div>
<div class="left badge liberator silver"></div>
<div class="left badge liberator gold"></div>
<div class="left badge liberator platinum"></div>
<div class="left badge liberator onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Mind Controller</h2>
<div class="left badge mindcontroller locked"></div>
<div class="left badge mindcontroller bronze"></div>
<div class="left badge mindcontroller silver"></div>
<div class="left badge mindcontroller gold"></div>
<div class="left badge mindcontroller platinum"></div>
<div class="left badge mindcontroller onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Pioneer</h2>
<div class="left badge pioneer locked"></div>
<div class="left badge pioneer bronze"></div>
<div class="left badge pioneer silver"></div>
<div class="left badge pioneer gold"></div>
<div class="left badge pioneer platinum"></div>
<div class="left badge pioneer onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Purifier</h2>
<div class="left badge purifier locked"></div>
<div class="left badge purifier bronze"></div>
<div class="left badge purifier silver"></div>
<div class="left badge purifier gold"></div>
<div class="left badge purifier platinum"></div>
<div class="left badge purifier onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Recharger</h2>
<div class="left badge recharger locked"></div>
<div class="left badge recharger bronze"></div>
<div class="left badge recharger silver"></div>
<div class="left badge recharger gold"></div>
<div class="left badge recharger platinum"></div>
<div class="left badge recharger onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Recruiter</h2>
<div class="left badge recruiter locked"></div>
<div class="left badge recruiter bronze"></div>
<div class="left badge recruiter silver"></div>
<div class="left badge recruiter gold"></div>
<div class="left badge recruiter platinum"></div>
<div class="left badge recruiter onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Seer</h2>
<div class="left badge seer locked"></div>
<div class="left badge seer bronze"></div>
<div class="left badge seer silver"></div>
<div class="left badge seer gold"></div>
<div class="left badge seer platinum"></div>
<div class="left badge seer onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Sojourner</h2>
<div class="left badge sojourner locked"></div>
<div class="left badge sojourner bronze"></div>
<div class="left badge sojourner silver"></div>
<div class="left badge sojourner gold"></div>
<div class="left badge sojourner platinum"></div>
<div class="left badge sojourner onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Spec Ops</h2>
<div class="left badge specops locked"></div>
<div class="left badge specops bronze"></div>
<div class="left badge specops silver"></div>
<div class="left badge specops gold"></div>
<div class="left badge specops platinum"></div>
<div class="left badge specops onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Translator</h2>
<div class="left badge translator locked"></div>
<div class="left badge translator bronze"></div>
<div class="left badge translator silver"></div>
<div class="left badge translator gold"></div>
<div class="left badge translator platinum"></div>
<div class="left badge translator onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Trekker</h2>
<div class="left badge trekker locked"></div>
<div class="left badge trekker bronze"></div>
<div class="left badge trekker silver"></div>
<div class="left badge trekker gold"></div>
<div class="left badge trekker platinum"></div>
<div class="left badge trekker onyx"></div>
</div>
<div class="badge-row">
   <h2 class="badge-title">Blank (Template)</h2>
<div class="left badge blank locked"></div>
<div class="left badge blank bronze"></div>
<div class="left badge blank silver"></div>
<div class="left badge blank gold"></div>
<div class="left badge blank platinum"></div>
<div class="left badge blank onyx"></div>
</div>
