<h2> NVIDIA SHIELD Tablet Bundle</h2>
<p>Includes:
	<ul>
		<li>32GB Unlocked NVIDIA SHIELD LTE Tablet w/ Stylus <a href="http://shield.nvidia.com/store/tablet">(Retail $399)</a>
		<li>32GB MicroSD card <a href="http://shop.sandisk.com/store/sdiskus/en_US/pd/productID.315386100?ClickID=bfunfzugvgnsmukzedkd1emezzuu6yvgnqvv">(Retail $24.99)</a>
		<li>NVIDIA SHIELD Controller <a href="http://shield.nvidia.com/store/controller">(Retail $59.99)</a>
		<li>NVIDIA SHIELD Tablet Cover <a href="http://shield.nvidia.com/store/tablet-cover">(Retail $39.99)</a>
		<li>NVIDIA SHIELD DirectStylus™ 2 <a href="http://shield.nvidia.com/store/directstylus">(Retail $19.99)</a>
	</ul>
	<figure> 
	    <figcaption>Tablet Front View</figcaption>
	    <img src="/assets/images/tablet2.jpg" alt="Capture that Gray Portal!"/>
	</figure>
	<figure> 
	    <figcaption>Tablet Rear View</figcaption>
	    <img src="/assets/images/tablet3.jpg" alt="SHELD"/>
	</figure>

	<figure> 
	    <figcaption>Controller Front View</figcaption>
	    <img src="/assets/images/controller1.jpg" alt="Normal controller plus Volume Up/Down and Home/Back/Play buttons"/>
	</figure>
	<figure> 
	    <figcaption>Controller Top View</figcaption>
	    <img src="/assets/images/controller2.jpg" alt="Micro USB and 3.5mm headphone/mic"/>
	</figure>

	<figure> 
	    <figcaption>Tablet Cover (Interior)</figcaption>
	    <img src="assets/images/case1.jpg" alt="Fuzzy so it don't scratch your screen"/>
	</figure>
	<figure> 
	    <figcaption>Tablet Cover (Exterior)</figcaption>
	    <img src="/assets/images/case2.jpg" alt="Cover Doubles as a stand!"/>
	</figure>

	<figure> 
	    <figcaption>SD Card</figcaption>
	    <img src="assets/images/sdcard.jpg" alt="DOUBLE THE STORAGE"/>
	</figure>
	<figure> 
	    <figcaption>Tablet with Cover and Controller</figcaption>
	    <img src="/assets/images/tablet4.jpg" alt="Look at that stand bro"/>
	</figure>
</p>