@badge-scale-speed: 1s;
body{
   margin:0;
}
html{
   background: black;
   color: white;
   }
.content{
   margin: 0 auto;
   max-width: 1024px;
}
header, footer{
   background-color: #111;
}
.logo{
   transform:rotate(0deg);
   transition: transform .5s;
   &.hover{
   transform:rotate(90deg);
   transition: transform .5s;
   }
}

.tablet a{
   text-decoration: none;
   color: rgb(118, 185, 0);
   &:hover{
      color:white;
   }
}

figure{
   display: inline-block;
   vertical-align: top;
   width:41%;
   padding: 0% .5% 3% 0;
}

figure img{
   width:100%;
   height:auto;
   border-radius: 3px;
   box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

figure figcaption{
   height: 2em;
   text-align:center;
   font-weight: bold;
   font-family:'Flamenco';
   font-variant: small-caps;
}

.left{
   float:left;
}
.badge-row{
   content: "";
   display: table;
   clear: both;
}
.badge-title{
   float:left;
   padding-top: 3px;
   margin-right: 15px;
   width: 200px;
   text-align: right;
}
.parent{
   transition: all @badge-scale-speed;
   height:75px;
   width:65px;
   &.void{
      height:512px;
      width:444px;
   }
}
.logo{
   height: 200px;
   width: 200px;
   background-size: 200px 200px;
   background-image: url("../images/logo.png");
}
.badge{
   background-image: url("../images/badges_512.png");
   background-size: 1318.359375px 465.8203125px;
   height: 75px;
   width: 65px;
   background-position: -375px -150px;
   transform-origin: top left;
   transform: scale(1);
   transition: transform @badge-scale-speed;
   &.locked{
      background-position-y: 0px;
   }
   &.bronze{
      background-position-y: -75px;
   }
   &.silver{
      background-position-y: -150px;
   }
   &.gold{
      background-position-y: -225px;
   }
   &.platinum{
      background-position-y: -300px;
   }
   &.onyx{
      background-position-y: -375px;
   }
   &.builder{
      background-position-x: -5px;
   }
   &.connector{
      background-position-x: -70px;
   }
   &.engineer{
      background-position-x: -135px
   }
   &.explorer{
      background-position-x: -200px;
   }
   &.guardian{
      background-position-x: -265px;
   }
   &.hacker{
      background-position-x: -330px;
   }
   &.illuminator{
      background-position-x: -395px;
   }
   &.innovator{
      background-position-x: -330px;
   }
   &.liberator{
      background-position-x: -526px;
   }
   &.mindcontroller{
      background-position-x: -591px;
   }
   &.pioneer{
      background-position-x: -656px;
   }
   &.purifier{
      background-position-x: -721px;
   }
   &.recharger{
      background-position-x: -786px;
   }
   &.recruiter{
      background-position-x: -851px;
   }
   &.seer{
      background-position-x: -916px;
   }
   &.sojourner{
      background-position-x: -981px;
   }
   &.specops{
      background-position-x: -1046px;
   }
   &.Translator{
      background-position-x: -1111px;
   }
   &.trekker{
      background-position-x: -1177px;
   }
   &.blank{
      background-position-x: -1242px;
   }
   &.click{
      transform: scale(6.826666666666667);
      transition: transform @badge-scale-speed;
   }
}